<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("", "")'>
                    <img src="http://placehold.it/150x80" alt="home image" style="margin-right:300px">
                </a>
               <!-- @Html.ActionLink("Index", "Home", new { area = "" }, new { @class = "navbar-brand" })-->
            </div>
            <div class="navbar-collapse collapse">
                <div class="navbar-left" style="margin-top:16px;">
                    @using (Html.BeginForm("Index", "Search", FormMethod.Get))
                    {
                        <ul class="nav navbar-nav">
                            <li><input type="text" name="search" placeholder="Search.."></li>
                        </ul>
                    }
                </div>
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-menuleft">
                    <li>@Html.ActionLink("IOT Boards", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sensors", "About", "Home")</li>
                    <li>@Html.ActionLink("Actuators", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Accessories", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Creations", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - L-IoT-ning</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
